@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Noto Sans HK', sans-serif;
}

.image-container {
  height: 100vh;
  width: 100vw;
  background-image: url('./bg.jpg');
  object-fit: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
}

.card-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 240px;
  height: 340px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.card-content {
  padding: 8px 10px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  text-align: center;
  pointer-events: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.7);
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 2rem;
  font-family: 'Changa', sans-serif;
  background: #f4f4f4;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px 12px;
  width: max-content;
  max-width: 160px;
  box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.4),
    0 12px 12px 0 rgba(0, 0, 0, 0.3);
}

button img {
  width: 100px;
  height: auto;
  margin-bottom: -1rem;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#button-start:hover {
  background-color: #f0f0f0;
  color: #3b92a5;
}

#button-stop:hover {
  background-color: #f0f0f0;
  color: #b97375;
}

button:active {
  transform: translateY(3px);
  box-shadow: 0 6px 6px 0 rgba(200, 146, 148, 0.3);
}

.instructions {
  font-family: 'Changa', sans-serif;
  font-size: 0.9rem;
  background: rgba(255, 255, 255, 0.6);
  padding: 8px;
  border-radius: 8px;
  color: #000;
  margin-bottom: 20px;
}

button[hidden] {
  display: none !important;
}
